@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
  