@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

/* index.css */
:root {
  --primary-color: #FFFFFF;
  --bg-color: #F0F2F7;
  --primary-header: #051135;
  --hover-color: #307BF6;
  --button-color: #307BF6;
  --header-font-color: #B9C3CF;
  --hover-font-color: #FFFFFF;
  --primary-font-color: #2B2D40;
  --primary-icon-color: #B9C3CF;
  --card-header: #E6EDF9;
}
